@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --primary : #00fffb;
  --second : #009e9c;
  --bgColor : #192938;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
  min-height: 100vh;
  overflow: hidden;
}

body::before {
  content: '';
  position: fixed;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('./images/bg-img.jpg.JPG') center no-repeat ;
  /* transform: scaleX(-1); */
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Roboto', sans-serif;
}
/* section general */
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 50vh;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 1s;
  z-index: 2;
}
section.section-show {
  top: 100px;
  height: auto;
  opacity: 1;
  visibility: visible;
  padding-bottom: 50px;
  overflow-y: visible;
}

section .container {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);
  padding: 30px;
}

@media (max-width:768px){
  section {
    top: 120px;
  }
  section.section-show {
    top: 80px;
  }
}

